{% extends 'base.html' %}
{% block main %}
<main class="container mt-3">
    <div class="card my-4 mx-auto">
        <div class="card-body m-2 m-md-4">
            <article class="row">
                <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
                <div class="col-7">

                    <section class="teacher=info">

                        <h1 class="h2">{{ teacher.name }}</h1>
                        <p><span class="badge badge-secondary mr-2">{{
                            goals|map(attribute='ru_name')|join(', ')
                            }} </span>Рейтинг: {{
                            teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                        <p>{{ teacher.about }}</p>

                    </section>
                    <section class="available">
                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                        {% for weekday_code, info in free_times.items() %}
                        <h6 class="mt-4">{{ info.ru_name }}</h6>
                        {% if info.values()|length > 0 %}
                        {% for slot in info.timeslots %}
                        <a href="/booking/{{ teacher.id }}/{{ weekday_code }}/{{ slot }}/"
                           class="btn btn-outline-success mr-2">{{ slot }} свободно</a>
                        {% endfor %}
                        {% else %}
                        <p>Нет свободных уроков</p>
                        {% endif %}
                        {% endfor %}
                    </section>

                </div>
            </article>
        </div>

    </div>
</main>
{% endblock %}
